/*Clock style*/

#clock{
    color: #fff;
    text-align: right;
    -webkit-animation: clock 1s ease-in-out infinite alternate;
    -moz-animation: clock 1s ease-in-out infinite alternate;
    animation: clock 1s ease-in-out infinite alternate;
    margin-top:25px;
    margin-right:15px;
  }
  
  @-webkit-keyframes clock {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px orangered, 0 0 20px orangered, 0 0 25px orangered, 0 0 30px orangered, 0 0 35px orangered;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px orange, 0 0 20px orange, 0 0 25px orange, 0 0 30px orange, 0 0 35px orange, 0 0 40px orange;
    }
   
  }

/*Form style*/

#my_form{
    display:block;
    padding: 40px; 
    background-color: #616161;
    border-radius:20px;
    height:80%;
    border: 2px groove orange;
    
}

input[type=text],  input[type=date], select[type=radio]{
    width:80%;
    border: none;
    border-bottom: 1px solid white;
    /* padding: 3%; */
    margin-bottom:8%;
    color:white;
    font-family: 'Inconsolata', monospace;
    
}

.label{
    color:orange;
    /* text-shadow:2px 2px 0.5px orange; */
}
::-webkit-calendar-picker-indicator {
     background-color:white; 
     font-family: 'Inconsolata', monospace;
    }

::placeholder{
    color:white;
    font-family: 'Inconsolata', monospace;
}
#select_gender{
    border:1px #141313 solid;
    width:30%;
    color:grey;
    font-family: 'Inconsolata', monospace;
}
.inputuri_design{
    background-color: rgb(20, 19, 19);
    top:10%;
    /* padding: 15px; */
    width: 60%;
}
.inputuri_design:after{
    
    font-family: 'Inconsolata', monospace;
}

/*adout data*/

#data{
    width:40%;
    margin-left:30%;
    height:auto;
}
#data_text{
    font-size:30px;
}

/*Design maps*/

.maps{
    width:20%;
    height:25vh;
    border: 1px rgb(255, 60, 0) solid;
    padding: 5px;
    box-shadow: 5px 10px darkorange;
    background-size:cover;
    background-repeat: no-repeat;
}
#Cobblestone{
    background-image: url("Pictures/cbblestone.jpg");
}
#Inferno{
    background-image: url("Pictures/inferno.jpg");
}
#Mirage{
    background-image: url("Pictures/mirage.jpg");
}
#Nuke{
    background-image: url("Pictures/nuke.jpg");
}
#Train{
    background-image: url("Pictures/train.jpg");
}

#getmaps{
    display:flex;
    /* width:100%; */
    /* flex-wrap: wrap; */
    align-items: 'center';
    
}
#button_submit{

    /* margin-top:120px; */
    /* margin-left:40%; */
    width:100%;
    padding: 13px;
    box-shadow:10px 5px 5px #ffa500;
    border-radius:20px;
    cursor: pointer;
    color:rgb(20, 19, 19);
    margin-top:15px;
}
#button_submit:hover {
    background-color: orange;
    color:white;
    box-shadow:10px 5px 5px rgb(20, 19, 19);;
  }

/*Add molotov grenade as icon*/
.label_pic{
    display: flex;
    margin-bottom:5px;
}
.grenada{
    width:40px;
    height:auto;
}

/* Character */

#about_character{
    width: 75%;
    display:flex;
    justify-content: space-between;
    
}

/* Character's style */

#antiterro_female{
    background-image: url("Pictures/antiterro_female.png");
}
#antiterro_male{
    background-image: url("Pictures/antiterro_male.png");
}
#terro_male{
    background-image: url("Pictures/terro_male.png");
}

.character{
    width: 300px;
    height:450px;
    padding: 5px;
    margin:0px;
    background-size:80%;
    background-repeat: no-repeat;
}

/* add flash effect when click on submit button */

.flash{
    animation: blinker 1s linear;
}
  
@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

/* outputs from js code*/
#output{
    padding-top:2.5rem;
    font-size:2rem;
}
#output2{
    font-size: 1rem;
  }



input,label,select { 
    cursor: pointer; color:grey;
}

.Maps,input,label,select,option{
    color:white;
}
.Maps:hover,input:hover,select[type=radio]:hover{
    color:#14C6CC;
}




  