/*Clock style*/

#clock{
    color: #fff;
    text-align: right;
    -webkit-animation: clock 1s ease-in-out infinite alternate;
    -moz-animation: clock 1s ease-in-out infinite alternate;
    animation: clock 1s ease-in-out infinite alternate;
    /* margin-right:15px;  */
    margin-bottom: 25px;
    text-align: center;
  }
  
  @-webkit-keyframes clock {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #743ad5, 0 0 20px #743ad5, 0 0 25px #743ad5, 0 0 30px #743ad5, 0 0 35px #743ad5;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #d53a9d, 0 0 20px #d53a9d, 0 0 25px #d53a9d, 0 0 30px #d53a9d, 0 0 35px #d53a9d, 0 0 40px #d53a9d;
    }
   
  }

/*Form style*/

#my_form{
    display:block;
    padding: 10%; 
    background-color: black;
    /* font-size:5%; */
    height:80%;
    /* font-size:15px; */
    /* border-width: 5px 3px 3px 5px;
    border-radius:95% 4% 97% 5%/4% 94% 3% 95%; */
    min-height: 600px;
    border: 5px solid ;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #743ad5, #FF1CE3);
}

input[type=text],  input[type=date], select[type=radio]{
    width:50%;
    border: none;
    border-bottom: 0.1px solid white;
    /* border-radius: 20px; */
    /* padding: 3%; */
    margin-bottom:8%;
    color:white;
    font-family: 'Inconsolata', monospace;
    font-size:1.5vh;
    
}

.label{
    font-weight: bold;
    background: -webkit-linear-gradient(#FF1CE3, #743ad5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.3vh;
    /* text-shadow:2px 2px 0.5px orange; */
}
::-webkit-calendar-picker-indicator {
     background-color:white; 
     font-family: 'Inconsolata', monospace;
     cursor: pointer;
    }
    ::-webkit-calendar-picker-indicator:hover{
        background-color:#743ad5;
    }
::placeholder{
    color:white;
    font-family: 'Inconsolata', monospace;
}
#select_gender{
    border:1px #141313 solid;
    width:30%;
    color:grey;
    font-family: 'Inconsolata', monospace;
}
.inputuri_design{
    background-color:  black;
    top:10%;
    /* padding: 15px; */
    width: 60%;
}

/*adout data*/

#data{
    width:40%;
    margin-left:30%;
    height:auto;
}
#data_text{
    font-size:30px;
    font-family: 'Inconsolata', monospace;
}
#user_date_of_birth{
    width:50%;
}

/*Design maps*/

.maps{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1vw;
    text-align: center;
    width:20%;
    height:25vh;
    /* border: 1px rgb(255, 60, 0) solid; */
    margin:10px;
    padding: 5px;
    /* border-radius: 20px ; */
    box-shadow: 5px 5px linear-gradient(to left, rgb(116, 58, 213), rgb(255, 28, 227));
    filter: drop-shadow(5px 5px 5px  #743ad5);
    background-size:cover;
    background-repeat: no-repeat;

    /*border style*/
    border-width: 3px 4px 3px 5px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    /* transform: rotate(2deg); */
}
#Cobblestone{
    background-image: url("Pictures/cbblestone.jpg");
}
#Inferno{
    background-image: url("Pictures/inferno.jpg");
}
#Mirage{
    background-image: url("Pictures/mirage.jpg");
}
#Nuke{
    background-image: url("Pictures/nuke.jpg");
}
#Train{
    background-image: url("Pictures/train.jpg");
}

#getmaps{
    display:flex;
    /* width:100%; */
    /* flex-wrap: wrap; */
    align-items: 'center';
    
}
#button_submit{

    /* margin-top:120px; */
    /* margin-left:40%; */
    width:100%;
    padding: 3%;
    box-shadow:10px 5px 5px #FF1CE3;
    /* border-radius:20px; */
    cursor: pointer;
    color:#0a0a0a;
    font-size: 1.5vh;
    position: sticky;
    margin-bottom: 0;
   
}
#button_submit:hover {
    background-color: #743ad5;
    color:white;
    box-shadow:10px 5px 5px black;
  }

/*Add molotov grenade as icon*/
.label_pic{
    display: flex;
    margin-bottom:5px;
}
.grenada{
    width:40px;
    height:auto;
}

/* Character */

#about_character{
    width: 75%;
    display:flex;
    justify-content: space-between;
    
}

/* Character's style */

#antiterro_female{
    background-image: url("Pictures/antiterro_female.png");
}
#antiterro_male{
    background-image: url("Pictures/antiterro_male.png");
}
#terro_male{
    background-image: url("Pictures/terro_male.png");
}

.character{
    background-repeat: no-repeat;
    background-size: contain;
    width:70%;
}

/* add flash effect when click on submit button */

.flash{
    animation: blinker 1s linear;
}
  
@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

/* outputs from js code*/
#hello{
    margin-bottom:30px;
    font-size:2rem;
    color:#FF1CE3;
}
#output2{
   font-size: 1rem;
   display: inline-block;
   color:white;
  }
#output3{
    font-size: 1rem;
    display: inline-block;
    color:white;
   }
span{
    font-size: 1rem;
    color:white;
    display: inline-block;
    padding: 10px; 
    background-color: #FF1CE3;
    border-radius: 20px;
}

input,label,select { 
    cursor: pointer; 
}
label{
    font-size:1.5vh;
}
.Maps,input,label,select,option{
    color:white;
}

/* .Maps:hover,input:hover,input[type=radio]:hover,#user_name:hover{
    color:#03A6A6;
} */
#user_name{
    padding:3.5px;
    background-color: black;
}
#user_name:after{
    background-color: black;
}

/*style checkbox*/



  